<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="/main-bundle.css">
</head>
<body>
	<header>Home.EJS</header>
	<div id="react-root"></div>
	<a href="/">index.ejs</a>
	<main>
		<form action="/" method="POST">
			<input type="text" name="search">
			<input type="submit" name="submit">
		</form>
	</main>
	<footer>Copyright © 2020 Ivo Kalendarov. All rights reserved.</footer>
	<script defer src="/main-bundle.js"></script>
</body>
</html>